MONGODB_URI=mongodb+srv://afra-crafts:AfraCrafts@cluster0.hvrfxai.mongodb.net/afra-crafts?retryWrites=true&w=majority&appName=Cluster0
FRONTEND_URL=https://your-app.vercel.app
ADMIN_USERNAME=afracrafts
ADMIN_PASSWORD=Afra@crafts
PORT=5000
